.btnBar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Кнопка закрытия */
.closeButton {
    background-color: transparent;
    position: relative;
    border: none;
    margin: 10px 10px 0 0;
}

.closeButton::after {
    content: 'delete';
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
}

.icon {
    transform: scale(1.2);
    transition: .2s linear;
}

.closeButton:hover>.icon {
    transform: scale(1.5);
}

.closeButton:hover>.icon path {
    fill: rgb(168, 7, 7);
}

.closeButton:hover::after {
    visibility: visible;
    opacity: 1;
    top: -90%;
}


/* Кнопка сохранения */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 2px;
    height: 40px;
    width: 85px;
    border: none;
    background: #a549da3d;
    border-radius: 20px;
    cursor: pointer;
}

.lable {
    line-height: 22px;
    font-size: 19px;
    color: #A649DA;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.button:hover {
    background: #a549da62;
}

.button:hover .svgIcon {
    animation: lr 1s linear infinite;
}

@keyframes lr {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1px);
    }

    75% {
        transform: translateX(1px);
    }

    100% {
        transform: translateX(0);
    }
}



.option {
    font-family: Comic Sans MS, Comic Sans, cursive;
}
